<h1>Stock Search</h1>

<div class="row-md-12">
	<div class="column-md-10">
		<%= form_tag search_path, method: :get, remote: true, id: 'stock-search' do %>
			<%= text_field_tag :search %>
			<%= submit_tag "Search" %>
		<% end %>
	</div>
</div>

<div>
	<% if @stock %>
		<span>Stock Name <%= @stock.name %> </span>
	<% end %>
</div>