<h1>User Details</h1>
<ul>
	<div>
		<span>Firstname:</span>
		<li style="display: inline-block" ><%= @user.firstname %></li>
	</div>
	<div>
		<span>Lastname:</span>
		<li style="display: inline-block" ><%= @user.lastname %></li>
	</div>
	<div>
		<span>Email:</span>
		<li style="display: inline-block"><%= @user.email %></li>
	</div>
</ul>